/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body.
  Он удобен, чтобы составлять селекторы для разных цветовых тем.
  */
  font-family: "IBM Plex Mono", sans-serif;
  background-image: var(--bg-image);
  background-color: var(--bg-color);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto 1fr;
  align-items: center;
  min-height: 668px;
  margin: 0 auto 40px;
  padding: 10px;
  width: 375px;
}

.rec-label {
  display: var(--rec);
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: var(--accent-color);
  position: absolute;
  top: 11px;
  right: 27px;
  pointer-events: none;
}

.rec-label::after {
  content: "";
  display: inline-block;
  width: 9px;
  height: 9px;
  background-color: var(--accent-color);
  box-shadow: 0px 0px 4px 2px var(--accent-color);
  border-radius: 50%;
  margin-left: 11px;
  margin-right: -19px;
  vertical-align: 2px;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
}

.decorated-zone::before {
  top: 0;
  right: 0;
  border-top: 1px solid var(--color-decorated-zone);
  border-right: 1px solid var(--color-decorated-zone);
  transform: translate(-10px, 10px);
}

.decorated-zone::after {
  bottom: 0;
  left: 0;
  border-bottom: 1px solid var(--color-decorated-zone);
  border-left: 1px solid var(--color-decorated-zone);
  transform: translate(10px, -10px);
}

.header__theme-menu {
  grid-row: 1;
  grid-column: 1 / -1;
  justify-self: flex-end;
  align-self: center;
  font-size: 18px;
  color: var(--color-decorated-zone);
  padding-bottom: 5px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  padding: 1.5px 13px;
  text-transform: lowercase;
  background-color: inherit;
  border: none;
}

.header__theme-menu-button_active {
  border: 1px solid var(--color-decorated-zone);
}

.header__title {
  grid-row: 2;
  color: var(--color);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem); /* Из-за этого свойства немного не совпадает по макету, т.к. по макету установлено ровно 116px */
  line-height: 83%;
  text-shadow: 4px 4px 0px var(--accent-color);
}

.header div:last-child {
  grid-row: 3;
  grid-column: 1;
}

.title-decor {
  font-size: 18px;
  color: var(--color-title-decor);
  line-height: 23.2px;
  background-color: var(--accent-color);
}

.title-decor__margin {
  margin-top: -4px;
}

.focus__content {
  margin-top: 20px;
}

.main {
  width: 375px;
  padding: 0 10px;
  margin: 0 auto;
}

.section {
  display: grid;
  margin-bottom: 50px;
}

.focus {
  grid-template-columns: 1fr;
}

.section__header {
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--color-section-header);
}

.article {
  margin-top: 20px;
}

.article__special {
  margin-top: 0;
}

.article__text {
  padding-top: 10px;
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--color-article-text);
}

.article__text-link {
  text-decoration: none;
  text-shadow: 2px 2px 0px var(--accent-color);
}

.oncentration-of-attention {
  grid-template-rows: repeat(2, min-content);
}

.recommendations {
  grid-template-columns: 1fr;
}

.recommendations__content {
  margin-top: 20px;
}

.article__title {
  margin-top: 20px;
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--color-title-decor);
  background-color: var(--accent-color);
}

.galary {
  margin-bottom: 40px;
}

.galary__content {
  display: grid;
  padding-top: 10px;
  gap: 10px;
}

.galary__content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 668px;
}

.footer__title {
  color: var(--color);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem); /* Из-за этого свойства немного не совпадает по макету, т.к. по макету установлено ровно 116px */
  line-height: 83%;
  text-shadow: 2px 2px 0px var(--accent-color);
}

.footer.decorated-zone::before {
  transform: translate(0, 10px);
}

.footer.decorated-zone::after {
  transform: translate(0, -10px);
}

.header__theme-menu-button:hover {
  border: 1px solid color-mix(in srgb, var(--color-decorated-zone) 40%, transparent);
  cursor: pointer;
}

.header__theme-menu-button:focus {
  border: none;
  border-bottom: 1px solid var(--color-decorated-zone);
}

.article__text-link:hover {
  border-bottom: 1px solid currentColor;
  cursor: pointer;
}

.article__text-link:focus {
  border: 1px solid currentColor;
  outline: none;
}

@media (width >= 768px) {

  .header {
    grid-template-columns: 1fr 1fr;
    min-height: 1024px;
    margin-bottom: 60px;
    padding: 20px;
    width: 768px;
  }

  .header div:last-child {
    grid-column: 2;
  }

  .rec-label {
    top: 18px;
    right: 28px;
  }

  .decorated-zone::before {
    transform: translate(-20px, 20px);
  }

  .decorated-zone::after {
    transform: translate(20px, -20px);
  }

  .header__theme-menu {
    grid-column: 2;
  }

  .header__title {
    grid-column: 1 / -1;
    margin-left: -20px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem); /* Из-за этого свойства немного не совпадает по макету, т.к. по макету установлено ровно 120px */
  }

  .title-decor {
    line-height: 23.4px;
  }

  .main {
    width: 768px;
    padding: 0 20px;
  }

  .section {
    margin-bottom: 80px;
  }

  .section__header {
    padding-right: 15px;
  }

  .focus {
    margin-top: -2px;
    grid-template-columns: 1fr 2fr;
  }

  .focus__content {
    margin-top: 0;
    padding-left: 14px;
  }

  .oncentration-of-attention {
    grid-template-rows: repeat(2, min-content);
  }

  .oncentration-of-attention__title {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }

  .recommendations {
    grid-template-columns: 1fr 2fr;
  }

  .recommendations__content {
    margin-top: 0;
    padding-left: 12px;
  }

  .galary {
    margin-bottom: 60px;
  }

  .galary__content {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, min-content);
    padding-top: 20px;
    gap: 20px;
  }

  .galary__content img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .photo__sunset {
    grid-row: 1;
    grid-column: 1 / -2;
  }

  .photo__ice-cream {
    grid-row: 1 / -2;
    grid-column: 3;
  }

  .photo__tape {
    grid-row: 2 / -1;
    grid-column: 1;
  }

  .photo__books {
    grid-row: 2;
    grid-column: 2;
  }

  .photo__street {
    grid-row: 3;
    grid-column: 2 / -1;
  }

  .footer {
    padding: 20px;
    height: 1024px;
  }

  .footer.decorated-zone::before {
    transform: translate(0, 20px);
  }

  .footer.decorated-zone::after {
    transform: translate(0, -20px);
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem); /* Из-за этого свойства немного не совпадает по макету, т.к. по макету установлено ровно 120px */
  }
}


@media (width >= 1024px) {

  .header {
    width: 1024px;
    min-height: 768px;
  }

  .decorated-zone::before {
    transform: translate(-20px, 18px);
  }

  .decorated-zone::after {
    transform: translate(20px, -22px);
  }

  .header__theme-menu {
    grid-column: 1 / -1;
    justify-self: center;
    align-self: flex-start;
  }

  .header__theme-menu-list {
    margin-top: -3px;
    flex-direction: row;
  }
  
  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem); /* Из-за этого свойства немного не совпадает по макету, т.к. по макету установлено ровно 157px */
  }

  .main {
    width: 1024px;
  }

  .focus__content {
    padding-left: 8px;
  }

  .oncentration-of-attention__title {
    grid-template-columns: repeat(3, 1fr);
  }

  .oncentration-of-attention__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .recommendations__content {
    padding-left: 8px;
  }

  .footer {
    height: 768px;
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem); /* Из-за этого свойства немного не совпадает по макету, т.к. по макету установлено ровно 157px */
  }
}